<style>
  .header {
    color: aliceblue;
    background-color: #1f652f;
  }

  @media screen and (max-width: 319px) {
    .header {
      max-width: 100%;
    }
  }
</style>
<body>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light p-3">
      <div class="container-fluid">
        <img
          src="../../png-clipart-hydroponics-vertical-farming-agriculture-logo-others-miscellaneous-leaf__1_-removebg-preview.png"
          width="5%"
        />
        <h3>Our Farm</h3>

        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link text-white"
              ><i class="bi bi-house"></i>Home</a
            >
            <a href="/aboutus" class="nav-item nav-link text-white">About us</a>
            <a href="/faq" class="nav-item nav-link text-white">FAQ</a>
            <a href="/soildata" class="nav-item nav-link text-white">More</a>
            <a href="/contactus" class="nav-item nav-link text-white"
              >Contant us</a
            >
          </div>

          <div class="navbar-nav">
            <a class="btn btn-light" href="/Login">Login</a>
            <!-- <a class=" btn btn-outline-light" href="/signup">Signup</a> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
</body>
