<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>
    Learn more about Drip(Micro-spray) irrigation in Residential Sandy Soil for
    Gujarat
  </h1>
  <img src="../rea.jpg" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Drip irrigation is most suitable for wider spacing crops. Micro sprinkler
    irrigation system is mostly followed in sandy or loamy soils. This system is
    most suitable to horticultural crops and small grasses. In this method water
    is sprinkled in a lower height at various directions.
    <br /><br />
    Micro-spray heads Drip irrigation may also use devices called micro-spray
    heads, which spray water in a small area, instead of dripping emitters.
    These are generally used on tree and vine crops with wider root zones.
  </h4>
</div>
