<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>
    Learn more about Well/ tube-well irrigation in Black Soil for Maharashtra
  </h1>
  <img src="../well.jpg" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    ube Well irrigation is the most widely used irrigation system in India.
    There are various types of wells, such as shallow wells, deep wells, tube
    wells, artesian wells, and so on.
    <br /><br />Water from shallow wells is not always available because the
    level of water drops during the dry months. Deep wells are better for
    irrigation because their water is available all year.
  </h4>
</div>
