<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>Learn more about Low-head bubbler irrigation in Red Soil Tamil Nadu</h1>
  <img src="../Low.jpg" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Low-head bubbler systems differ from other micro-irrigation systems because
    they are based on gravity-flow, can operate at pressures as low as 1 m (3.3
    ft) and do not require elaborate filtration systems. Despite their
    simplicity and advantages, low-head bubbler systems lack a well-defined
    design procedure to facilitate design and installation.<br /><br />
    A comprehensive design procedure for low-head bubbler systems is presented
    and an example gradual slope design is given in detail. The design procedure
    utilizes head loss gradient charts based on the Darcy-Weisbach equation and
    the delivery hose elevations are calculated from the energy equation.
  </h4>
</div>
