<%- include('layouts/main') %>
  <div class="card bg-dark text-white w-100">
    <img
      src="https://cdn.hswstatic.com/gif/Irrigation.jpg"
      class="card-img"
      alt="..."
      style="opacity: 0.6"
    />
    <div class="container">
      <div class="card-img-overlay" height="30%">
        <h2 class="card-title mt-5 pt-2" style="text-align: center">
          About us
        </h2>
        <div class="container">
          <h6
            class="card-text mt-3"
            style="font-family: Times New Roman, Times, serif; font-size: 25px"
          >
            To help the farmers for the betterment of crop production and to
            develop the farming techniques according to the underground water
            availability. They are estimating the underground water availability
            and showing water analysis data to users by as per their state
            representation. So, the farmer can see the water availability in
            their field. So there can process further for crop production. This
            can reduce the massive loss in the agriculture sector . In the crop
            recommendation application, the user can provide the soil data from
            their side and the application will predict which crop the user
            should grow.<br /><br />

            <p style="font-weight: 300">Vision:</p>
            To increase the production rate by changing the watering techniques
            <br /><br />
            <p style="font-weight: 300">Mission:</p>
            We will test and find underground water availability and suggest the
            crop which is useful to grow there by comparing along with the soil
            type at that location. We will also suggest best irrigation
            techniques for less water consumption and for saving underground
            water for further generations.
          </h6>
        </div>
      </div>
    </div>
  </div>
  

