<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>Learn more about Drip irrigation</h1>
  <img src="../surface.jpg" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Surface drip irrigation is widely used to irrigate perennial crops (trees
    and vines) and annual row crops. However, because the design and management
    of irrigation systems for these types of crops are different, this chapter
    addresses the two cropping systems separately. The design of surface drip
    irrigation systems for trees and vines is similar. Polyethylene drip tubing
    with on-line drip emitters is very common, but built-in or fused-in drip
    emitters are also used.
    <br /><br />
    Filters, control and valve systems, injection systems, underground
    pipelines, and other components of drip irrigation systems are similar for
    both orchards and vineyards.
  </h4>
</div>
