<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>
    Learn more about Surface(Controlled flooding) irrigation in Black Soil
  </h1>
  <img src="../surface.jpg" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Surface irrigation is where water is applied and distributed over the soil
    surface by gravity. It is by far the most common form of irrigation
    throughout the world and has been practiced in many areas virtually
    unchanged for thousands of years.
    <br /><br />
    Surface irrigation is often referred to as flood irrigation, implying that
    the water distribution is uncontrolled and therefore, inherently
    inefficient. In reality, some of the irrigation practices grouped under this
    name involve a significant degree of management (for example surge
    irrigation). Surface irrigation comes in three major types; level basin,
    furrow and border strip
  </h4>
  <h4 style="font-weight: 400; font-family: 'Times New Roman', Times, serif">
    i. Controlled flooding
  </h4>

  <div
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    <h2 style="font-weight: 600">Controlled flooding</h2>
    <h5>
      In this type of flooding, water is applied to the land in a controlled
      manner. There is proper control in the flow as well as in the quantity of
      water.
    </h5>
  </div>

  <div
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    <h2 style="font-weight: 600">a.Check flooding</h2>
    <h5>
      Check flooding is similar to ordinary flooding or free flooding except
      that water is controlled by surrounding the check area with flat & low
      levees.
      <br /><br />
      If the ground has some initial slope, levees may follow the contour. It is
      suitable to irrigate food & grain crops in heavy soil.
    </h5>
  </div>
</div>
