<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>Learn more about Canal irrigation</h1>
  <img src="../cal.jpg" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    An irrigation canal is a hydraulic system whose main objective is to convey
    water from a source (dam and river) to different users. Such systems can be
    very large (several tens or hundreds of kilometers); they are characterized
    by time delays and nonlinear dynamics, strong unknown perturbations and
    interactions among subsystems.
    <br /><br />
  </h4>
  <h4 style="font-weight: 400; font-family: 'Times New Roman', Times, serif">
    i. Controlled flooding
  </h4>

  <div
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    <h2 style="font-weight: 600">Controlled flooding</h2>
    <h5>
      In this type of flooding, water is applied to the land in a controlled
      manner. There is proper control in the flow as well as in the quantity of
      water.
    </h5>
  </div>

  <div
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    <h2 style="font-weight: 600">a.Check flooding</h2>
    <h5>
      Check flooding is similar to ordinary flooding or free flooding except
      that water is controlled by surrounding the check area with flat & low
      levees.
      <br /><br />
      If the ground has some initial slope, levees may follow the contour. It is
      suitable to irrigate food & grain crops in heavy soil.
    </h5>
  </div>
</div>
