
  <h1 style="text-align: center; color: darkgreen;"> Learn more about Project</h1>
<div class="container " style="padding-left: 6%;">
<h5 style="text-align: center;" class="mt-1">It gives us tremendous pride to be recognized for all of the hard work we do here at Under Ground water analysis. Explore some of our latest media features below. Do they inspire you to get involved? Don’t hesitate to reach out!</h5>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col">
    <div class="card h-100">
      <img
      src="../004d7f_990608ad39884ca3aa16703ddb7ff0e0_mv2.jpg"
      width="100%"
    />
      <div class="card-body">
        <h5 style="font-family: 'Times New Roman', Times, serif;"> Learn more information about your fields<br />
          about underground water by pin pointing your location
        </h5>
        <br />
        <a
          href="https://www.google.com/maps/d/embed?mid=1NCGCaXuLEmcWCyG7svqeVkIByh-R9is&ehbc=2E312F"
          class="btn btn-outline-success"
          target="_blank"
          >Go to map</a
        >
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../soil.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Major type of soil available in India</h5>
        <p class="card-text">It is made up mainly of mineral particles, organic materials, air, water and living organisms—all of which interact slowly yet constantly.</p>
        <a href="/soildata" class="btn btn-outline-success">Learn more</a>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../water.jpg" class="card-img-top" alt="..." style="height: 100%">
      <div class="card-body">
        <h5 class="card-title">Irrigation techniques in india</h5>
        <p class="card-text">Uses of Water in Farming controlled measures of water to land to aid the development of crops and develop landscape plants and yards,</p>
        <a href="/states" class="btn btn-outline-success">Learn more</a>
      </div>
      
    </div>
  </div>
  </div>
</div>

</div>
