<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>
    Learn more about Surface(Furrow) irrigation in Black Soil for Maharashtra
  </h1>
  <img src="../furrow.png" height="500" width="1000" class="mt-2 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Surface irrigation is the application of water by gravity flow to the
    surface of the field. Either the entire field is flooded (basin irrigation)
    or the water is fed into small channels (furrows) or strips of land
    (borders).
    <br /><br />Furrows are small channels, which carry water down the land
    slope between the crop rows. Water infiltrates into the soil as it moves
    along the slope. The crop is usually grown on the ridges between the
    furrows. This method is suitable for all row crops and for crops that cannot
    stand in water for long periods (e.g. 12-24 hours).
  </h4>
</div>
