<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>Learn more about Sprinklers irrigation</h1>
  <img
    src="../Sprinkler-irrigation.jpg"
    height="500"
    width="1000"
    class="mt-2 mx-5 px-5"
  />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Underground sprinklers function through means of basic electronic and
    hydraulic technology. This valve and all of the sprinklers that will be
    activated by this valve are known as a zone. Upon activation, the solenoid,
    which sits on top of the valve is magnetized lifting a small stainless steel
    plunger in its center. By doing this, the activated (or raised) plunger
    allows water to escape from the top of a rubber diaphragm located in the
    center of the valve. <br /><br />
    Water that has been charged and waiting on the bottom of this same diaphragm
    now has the higher pressure and lifts the diaphragm. This pressurized water
    is then allowed to escape down stream of the valve through a series of
    pipes, usually made of PVC (higher pressure commercial systems) or
    polyethylene pipe (for typically lower pressure residential systems).
  </h4>
</div>
