<%- include('layouts/main') %> <%- include('layouts/header') %>
<h1 style="text-align: center; color: darkgreen">
  Learn more Irrigation in Gujarat
</h1>
<div class="container" style="padding-left: 6%">
  <h5 style="text-align: center" class="mt-1"></h5>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a href="/residual" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../re.jpeg" width="100%" height="420" />
          <div class="card-body">
            <h5>Residential sandy soil</h5>
            <br />
          </div>
        </div>
      </div>
    </a>

    <a href="/coastal" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../blacksoil.jpg" height="420" />
          <div class="card-body">
            <h5>Black soil</h5>
            <br />
          </div>
        </div>
      </div>
    </a>

    <a href="/alkanli" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../alkaline.jpeg" width="100%" height="420" />
          <div class="card-body">
            <h5>Saline / alkali</h5>
            <br />
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
