<%- include('layouts/main') %> <%- include('layouts/header') %>
<h1 style="text-align: center; color: darkgreen">
  Learn more Irrigation in Maharashtra
</h1>
<div class="container" style="padding-left: 6%">
  <h5 style="text-align: center" class="mt-1"></h5>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a href="/clay" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../clay.jpg" width="100%" height="420" />
          <div class="card-body">
            <h5>Clay soil</h5>
            <br />
          </div>
        </div>
      </div>
    </a>

    <a href="/coastalm" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../coastal.jpg" height="420" />
          <div class="card-body">
            <h5>Coastal alluvial soil</h5>
            <br />
          </div>
        </div>
      </div>
    </a>

    <a href="/alkanli" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../la.jpg" width="100%" height="420" />
          <div class="card-body">
            <h5>Laterite soil</h5>
            <br />
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
