<%- include('layouts/main') %> <%- include('layouts/header') %>
<div class="container">
  <h1>Learn more about Drip(sub surface) irrigation</h1>
  <img src="../drip.jpg" class="mt-1 mx-5 px-5" />
  <h4
    class="mt-4"
    style="font-weight: 400; font-family: 'Times New Roman', Times, serif"
  >
    Subsurface drip irrigation is a low-pressure, high efficiency irrigation
    system that uses buried drip tubes or drip tape to meet crop water needs.
    Subsurface irrigation saves water and improves yields by eliminating surface
    water evaporation and reducing the incidence of weeds and disease.<br /><br />
    A subsurface drip system may require higher initial investment than a gated
    pipe/furrow system and cost will vary due to water source, water quality,
    filtration needs, choice of material, soil nature
  </h4>
</div>
