<%- include('layouts/main') %> <%- include('layouts/header') %>
<h1 style="text-align: center; color: darkgreen;"> Learn more about Project</h1>
<div class="container " style="padding-left: 6%;">
<h5 style="text-align: center;" class="mt-1">It gives us tremendous pride to be recognized for all of the hard work we do here at Under Ground water analysis. Explore some of our latest media features below. Do they inspire you to get involved? Don’t hesitate to reach out!</h5>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a  href="/andhra" style="text-decoration: none; color:black">
  <div class="col">
    <div class="card h-100">
      <img
      src="../andhra.jpg"
      width="100%"
      height="320" 
    />
      <div class="card-body">
        <h5>Andhra pradesh</h5>
        <br />
      </div>
      
    </div>
  </div>
</a>


<a  href="/gujarat" style="text-decoration: none; color:black">
    <div class="col">
      <div class="card h-100">
        <img
        src="../gujarat.jpg"
        width="78%"
        height="320"
      />
        <div class="card-body">
          <h5> Gujarat</h5>
          <br />
        </div>
        
      </div>
    </div>
  </a>

   <a  href="/maharashtra" style="text-decoration: none; color:black">
  <div class="col">
    <div class="card h-100">
      <img
      src="../m2.jpg"
      width="100%"
      height="320"
    />
      <div class="card-body">
        <h5>Maharashtra </h5>
        <br />
      </div>
      
    </div>
  </div>
</a>

<a  href="/tamilnadu" style="text-decoration: none; color:black">
    <div class="col">
      <div class="card h-100">
        <img
        src="../tamil1.avif"
        height="320"
       
      />
        <div class="card-body">
          <h5>Tamil Nadu</h5>
          <br />
        </div>
        
      </div>
    </div>
  </a>

  <a  href="/kerala" style="text-decoration: none; color:black">
  <div class="col">
    <div class="card h-100">
      <img
      src="../kerala.jpg"
      height="320"
    
    />
      <div class="card-body">
        <h5>Kerala </h5>
        <br />
      </div>
      
    </div>
  </div>
</a>

<a  href="/uttra" style="text-decoration: none; color:black">
    <div class="col">
      <div class="card h-100">
        <img
        src="../uttra.jpg"
        width="100%"
      />
        <div class="card-body">
          <h5>Uttra pradesh</h5>
          <br />
        </div>
        
      </div>
    </div>
  </a>
 
  </div>
</div>

</div>
