<%- include('layouts/main') %> <%- include('layouts/header') %>
<h1 style="text-align: center; color: darkgreen">
  Learn more Irrigation in Uttra pradesh
</h1>
<div class="container" style="padding-left: 6%">
  <h5 style="text-align: center" class="mt-1"></h5>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <a href="/alluivalsoil" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../all.jpg" width="100%" height="420" />
          <div class="card-body">
            <h5>Bhabar Region soil(alluvial soil)</h5>
            <br />
          </div>
        </div>
      </div>
    </a>

    <a href="/cal" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../blacksoil.jpg" height="420" />
          <div class="card-body">
            <h5>Gangetic soil</h5>
            <br />
          </div>
        </div>
      </div>
    </a>

    <a href="/cal" style="text-decoration: none; color: black">
      <div class="col">
        <div class="card h-100">
          <img src="../terai.jpg" width="100%" height="420" />
          <div class="card-body">
            <h5>Terai</h5>
            <br />
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
